.text-title {
  @include typo__h1-72;
  @include tablet {
    @include typo__h2-36--black;
  }
  @include mobile {
    @include typo__h4-24--black;
  }
}
.text-subtitle {
  @include typo__h2-36--thin;
  @include tablet {
    @include typo__h4-24--thin;
  }
  @include mobile {
    @include typo__body-16--thin;
  }
}
.text-footer-name {
  @include typo__h3-30--black;
  @include tablet {
    @include typo__h4-24--black;
  }
  @include mobile {
    @include typo__h5-20--black;
  }
}
.text-section-title {
  @include typo__h4-24--black;
  @include tablet {
    @include typo__h5-20--black;
  }
  @include mobile {
    @include typo__body-16--black;
  }
}
.text-nav-name,
.text-body-title {
  @include typo__h5-20--black;
  @include tablet {
    @include typo__body-16--black;
  }
  @include mobile {
    @include typo__body-14--black;
  }
}
.text-objectives,
.text-section-subtitle,
.text-footer-title {
  @include typo__h5-20--thin;
  @include tablet {
    @include typo__body-16--thin;
  }
  @include mobile {
    @include typo__body-14--thin;
  }
}
.text-nav {
  @include typo__body-16--black;
  @include tablet {
    @include typo__body-14--black;
  }
  @include mobile {
    @include typo__body-14--black;
  }
}
.text-body {
  @include typo__body-16--thin;
  @include tablet {
    @include typo__body-14--thin;
  }
  @include mobile {
    @include typo__body-14--thin;
  }
}
.text-err-msg {
  @include typo__body-14--black;
  @include tablet {
    @include typo__body-12--black;
  }
  @include mobile {
    @include typo__body-12--black;
  }
}
.text-powered {
  @include typo__body-14--thin;
  @include tablet {
    @include typo__body-12--thin;
  }
  @include mobile {
    @include typo__body-12--thin;
  }
}

html {
  @extend .text-body;
}
