/* width */
html {
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: $clrSecondaryLightest;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    height: 10px;
    background: rgba($clrSecondaryDark, 0.85);
    border-radius: 10px;
    /* Handle on hover */
    &:hover {
      background: $clrSecondaryDark;
    }
  }
  &[data-theme='dark'] {
    ::-webkit-scrollbar-track {
      background: $clrSecondaryDarkest;
    }
    ::-webkit-scrollbar-thumb {
      background: rgba($clrSecondaryLighter, 0.85);
      &:hover {
        background: $clrSecondaryLighter;
      }
    }
  }
}
