.section {
  flex-direction: column;
  align-items: center;
  margin-top: 165px;
  margin-bottom: 70px;
  // Tablet
  @include tablet {
    margin-top: 140px;
    margin-bottom: 40px;
  }
  @include mobile {
    margin-top: 180px;
    margin-bottom: 30px;
  }
  p {
    text-align: inherit;
  }
}
