.Portfolio {
  &__work {
    @include col(10);
    &-tab {
      $work-width: 400px;
      $work-height: 300px;
      display: inherit;
      justify-content: center;
      align-items: center;
      gap: 46px;
      &-img,
      &-content {
        width: $work-width;
        height: $work-height;
      }
      &-img {
        img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          outline-width: 1px;
          outline-offset: -1px;
          outline-style: solid;
        }
      }
      &-content {
        position: relative;
        $contentSpacing: 71.5px;
        &-text {
          position: absolute;
          top: $contentSpacing;
          &-title {
            @include typo__h5-20--black;
          }
        }
        &-btns {
          position: absolute;
          bottom: $contentSpacing;
          display: flex;
          align-items: center;
          gap: 16px;
          a {
            text-decoration: none;
            color: currentColor;
          }
          &-link {
            width: 24px;
            height: 24px;
            path {
              fill: currentColor;
            }
            @extend .hover-effect-withIcon;
          }
        }
      }
    }
    // Slider
    position: relative;
    &-swiper {
      position: initial !important;
    }
    &-btn {
      &--prev,
      &--nxt {
        @extend .hover-effect-withIcon;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 24px;
        cursor: pointer;
        z-index: 10;
        svg path {
          fill: currentColor;
        }
      }
      &--prev {
        left: 0;
      }
      &--nxt {
        right: 0;
      }
      &--disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
      }
    }
    // Bullet
    &-pagination {
      &-bullets {
        display: flex;
        gap: 16px;
        left: 50%;
        transform: translateX(-50%) !important;
        bottom: -50px;
      }
      &-bullet {
        width: 10px;
        height: 10px;
        background: $clrNeutralGray;
        border-radius: 50%;
        cursor: pointer;
        &-active {
          background: $clrSecondaryDark;
        }
      }
    }
    // Tablet
    @include tablet {
      @include col(12);
      &-tab {
        $work-width: 270px;
        $work-height: 200px;
        gap: 20px;
        &-img,
        &-content {
          width: $work-width;
          height: $work-height;
        }
        &-img {
          border-radius: 16px;
        }
        &-content {
          $contentSpacing: 32px;
          &-text {
            top: $contentSpacing;
          }
          &-btns {
            bottom: $contentSpacing;
          }
        }
      }
    }

    // Mobile
    @include mobile {
      @include col(12);
      $work-width: 330px;
      $work-height: 250px;
      &-tab {
        flex-direction: column;
        gap: 30px;
        &-img {
          width: $work-width;
          height: $work-height;
          border-radius: 16px;
        }
        &-content {
          width: $work-width;
          height: initial;
          &-text {
            position: initial;
            margin-bottom: 30px;
          }
          &-btns {
            position: initial;
          }
        }
      }
      &-btn {
        &--prev,
        &--nxt {
          @extend .hover-effect-withIcon;
          top: calc($work-height / 2);
        }
      }
      &-pagination-bullets {
        bottom: -40px;
      }
    }
  }
}
