.ToTop {
  @extend .hover-effect-btn;
  $size: 40px;
  position: fixed;
  right: 80px;
  bottom: 80px;
  display: grid;
  place-items: center;
  width: $size;
  height: $size;
  border-radius: 10px;
  z-index: 99;
  // Tablet
  @include tablet {
    right: 40px;
    bottom: 40px;
  }
  // Mobile
  @include mobile {
    right: 24px;
    bottom: 84px;
  }
}
