.Skills {
  // Switch skills button
  &__btns {
    @include col(4);
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    &-btn {
      @extend .hover-effect-withIcon;
      display: flex;
      align-items: center;
      svg path {
        fill: currentColor;
      }
      &-icon {
        width: 32px;
        height: 32px;
        margin-right: 16px;
      }
      &--active {
        color: $clrSecondaryDark;
        svg path {
          fill: currentColor;
        }
      }
    }
  }

  // Skills content
  &__tech,
  &__soft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 40px;
    svg {
      margin-right: 16px;
    }
  }
  &__tech {
    &-tab {
      width: 450px;
      &-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 24px;
        &-skill {
          display: flex;
          align-items: flex-end;
        }
      }
      &-bar {
        width: 100%;
        height: 8px;
        background: $clrSecondaryLighter;
        border-radius: 4px;
        div {
          height: inherit;
          border-radius: inherit;
        }
        &-html {
          width: 80%;
        }
        &-css {
          width: 80%;
        }
        &-sass {
          width: 60%;
        }
        &-js {
          width: 70%;
        }
        &-react {
          width: 70%;
        }
        &-figma {
          width: 60%;
        }
      }
    }
  }
  &__soft {
    &-tab {
      display: flex;
      align-items: flex-end;
    }
    margin-bottom: 91px;
  }
  // Tablet
  @include tablet {
    &__btns {
      @include col(6);
      &-btn-icon {
        width: 24px;
        height: 24px;
        margin-right: 12px;
      }
    }
    &__tech,
    &__soft {
      svg {
        width: 24px;
        height: 24px;
        margin-right: 12px;
      }
    }
    &__tech {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-tab {
        width: 500px;
      }
    }
    &__soft {
      @include col(10);
      column-gap: 83px;
      row-gap: 30px;
      margin-bottom: 300px;
    }
  }

  // Mobile
  @include mobile {
    &__btns {
      @include col(10);
      flex-direction: column;
      &-btn {
        display: flex;
        align-items: center;
        padding: 18px 0;
        &-text {
          flex: 1;
        }
        &-icon {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
        &-navicon {
          width: 16px;
          height: 16px;
          rotate: 90deg;
          transition: rotate 0.3s linear;
        }
        &--active {
          .Skills__btns-btn-navicon {
            rotate: -90deg;
          }
        }
      }
    }
    &__tech,
    &__soft {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      svg {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }
    &__tech {
      gap: 24px;
      &-tab {
        width: 330px;
      }
    }
    &__soft {
      svg {
        margin-right: 12px;
      }
    }
  }
}
