.MobileHeader {
  &__btn {
    display: flex;
    gap: 20px;
    align-items: center;
    &-icon {
      @extend .hover-effect-withIcon;
      width: 20px;
      height: 20px;
      path {
        fill: currentColor;
      }
    }
  }
  &__nav {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: max-content;
    row-gap: 40px;
    padding: 40px 66px 0;
    z-index: -1;
    justify-items: center;
    border-radius: 20px 20px 0 0;
    li {
        @extend .hover-effect-withIcon;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        svg {
          width: 20px;
          height: 20px;
          path {
            fill: currentColor;
          }
        }
      }
      &:nth-child(1) {
        grid-column: 1/3;
      }
      &:nth-child(2) {
        grid-column: 3/5;
      }
      &:nth-child(3) {
        grid-column: 5/7;
      }
      &:nth-child(4) {
        grid-column: 1/4;
      }
      &:nth-child(5) {
        grid-column: 4/7;
      }
    }
  }
}
