.About {
  &__exp {
    $icon-size: 24px;
    &-container {
      @include col(8);
    }
    &-data {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      // Middle separate line
      &-sep {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-ellipse {
          background-color: $clrSecondaryDark;
          width: $icon-size;
          height: $icon-size;
          border-radius: 50%;
        }
        &-line {
          width: 1px;
          height: calc(100% - $icon-size);
          background-color: $clrSecondaryLighter;
        }
        padding: 0 30px;
      }

      // Content
      &-tab-time {
        display: flex;
        align-items: center;
        margin: 16px 0;
        &-icon {
          width: $icon-size;
          height: $icon-size;
          margin-right: 12px;
          path {
            fill: currentColor;
          }
        }
      }
      &:last-child {
        .About__exp-data-sep-line {
          height: calc(100% - ($icon-size * 2));
        }
      }
    }
    // Tablet
    @include tablet {
      $icon-size: 20px;
      &-container {
        @include col(12);
      }
      &-data {
        &-sep {
          padding: 0 22px;
          &-ellipse {
            width: $icon-size;
            height: $icon-size;
          }
          &-line {
            height: calc(100% - $icon-size);
          }
        }
        &-tab-time {
          margin: 12px 0;
          &-icon {
            margin-right: 10px;
            width: $icon-size;
            height: $icon-size;
          }
        }
      }
    }
    @include mobile {
      $icon-size: 20px;
      &-container {
        @include col(12);
      }
      &-data {
        &-sep {
          order: -1;
          padding: 0 16px;
          &-ellipse {
            width: $icon-size;
            height: $icon-size;
          }
          &-line {
            height: calc(100% - $icon-size);
          }
        }
        &-tab {
          margin-top: 8px;
          &-desc {
            width: 320px;
          }
          &-time {
            margin: 8px 0;
            &-icon {
              margin-right: 10px;
              width: $icon-size;
              height: $icon-size;
            }
          }
        }
        &-blank {
          display: none;
        }
      }
    }
  }
}
