.Home {
  margin-top: 160px;
  &__content {
    @include col(5);
    &-title {
      @extend .text-title;
    }
    &-subtitle {
      @extend .text-subtitle;
      padding-bottom: 24px;
    }
    &-objectives {
      @extend .text-objectives;
      padding-bottom: 50px;
    }
  }
  &__space {
    @include col(1);
  }
  &__avatar {
    @include col(4);
    img {
      width: 100%;
      border-radius: 16px;
    }
  }
  // Tablet
  @include tablet {
    &__content {
      @include col(6);
      &-subtitle {
        padding-bottom: 16px;
      }
      &-objectives {
        padding-bottom: 30px;
      }
    }
    &__avatar {
      @include col(5);
      img {
        border-radius: 12px;
      }
    }
  }
  // Mobile
  @include mobile {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    &__avatar {
      @include col(10);
      order: -1;
      margin-bottom: 30px;
      img {
        border-radius: 16px;
      }
    }
    &__space {
      display: none;
    }
    &__content {
      @include col(10);
      &-subtitle {
        padding-bottom: 12px;
      }}
  }
}
