.Contact {
  &__info {
    &-container {
      @include col(4);
    }
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;
    width: 360px;
    &-icon {
      path {
        fill: currentColor !important;
      }
    }
  }
  &__form {
    &-container {
      @include col(4);
    }
    display: flex;
    flex-direction: column;
    gap: 30px;
    &-field {
      position: relative;
      display: flex;
      flex-direction: column;
      label {
        @extend .text-body-title;
        margin-bottom: 8px;
      }
      input,
      textarea {
        padding: 10px 16px;
        background: 0;
        border-radius: 8px;
        color: inherit;
        &:focus {
          outline-offset: -2px;
        }
      }
      input {
        height: 44px;
      }
      &-message {
        textarea {
          resize: none;
          height: 166px;
          overflow: hidden;
        }
      }
      // Error message
      &-err {
        &-msg {
          @extend .text-err-msg;
          position: absolute;
          bottom: -25px;
          color: $clrAccentNormal;
        }
      }
    }
  }
  // Tablet
  @include tablet {
    &__info {
      grid-template-columns: 20px 1fr;
      column-gap: 16px;
      row-gap: 24px;
      width: initial;
      &-container {
        @include col(5);
      }
      &-icon {
        width: 20px;
        height: 20px;
      }
    }
    &__form {
      &-container {
        @include col(7);
      }
      &-field-err-msg {
        bottom: -22px;
      }
    }
  }
  @include mobile {
    &__info {
      grid-template-columns: 20px 1fr;
      column-gap: 12px;
      row-gap: 16px;
      width: initial;
      &-container {
        @include col(10);
      }
      &-icon {
        width: 20px;
        height: 20px;
      }
      margin-bottom: 30px;
    }
    &__form {
      gap: 24px;
      &-container {
        @include col(10);
      }
      &-field-err-msg {
        bottom: -20px;
      }
    }
  }
}
