.Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  &__container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    @extend .text-nav-name;
  }
  &__nav--active {
    svg path {
      fill: currentColor;
    }
  }
  // Mobile
  @include mobile {
    top: unset;
    bottom: 0;
    height: unset;
    padding: 16px;
  }

  z-index: 100;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: rgba($clrNeutralDarkest, 0.5);
  z-index: 100;
}
