.Footer {
  position: relative;
  left: 0;
  right: 0;
  height: 300px;
  margin-top: 70px;
  &-container {
    @include col(10);
    position: relative;
  }
  &__nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
    a {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      transition: opacity 0.3s linear;
    }
  }
  &__intro {
    display: inline-block;
    padding-top: 30px;
  }
  &__contact {
    display: inline-flex;
    position: absolute;
    right: 0;
    bottom: 0;
    gap: 30px;
    a {
      text-decoration: none;
      color: currentColor;
      svg {
        height: 20px;
        path {
          fill: currentColor;
        }
      }
    }
  }
  &__powered {
    @extend .text-powered;
    position: absolute;
    left: 80px;
    bottom: 40px;
  }
  // Tablet
  @include tablet {
    &__contact {
      gap: 20px;
    }
  }
  // Mobile
  @include mobile {
    height: 365px;
    &-container {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &__intro {
      order: 0;
      padding-top: 40px;
    }
    &__nav {
      order: 1;
      flex-direction: column;
      justify-content: unset;
      gap: 10px;
      padding-top: unset;
    }
    &__contact {
      order: 2;
      position: initial;
      svg {
        width: 16px;
        height: 16px;
      }
    }
    &__powered {
      left: 16px;
      bottom: 81px;
    }
  }
}
