html {
  font-size: 62.5%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  // Light mode
  background: $clrNeutralWhite;
  color: $clrNeutralDarker;
  .Button {
    color: $clrNeutralWhite;
    background-color: $clrSecondaryDark;
  }
  .Header {
    background: $clrNeutralWhite;
    &--shadow {
      box-shadow: 0 2px 4px rgba($clrNeutralGray, 0.5);
      @include mobile {
        box-shadow: 0 -2px 4px rgba($clrNeutralGray, 0.5);
      }
    }
    &__nav--active {
      color: $clrSecondaryDark;
    }
    transition: all 0.3s linear;
  }
  .MobileHeader {
    &__nav {
      background: $clrNeutralWhite;
      box-shadow: 0 -2px 4px rgba($clrNeutralGray, 0.5);
    }
  }
  .Skills {
    &__tech,
    &__soft {
      &-tab-bar {
        div {
          background: $clrSecondaryDark;
        }
      }
    }
  }
  .Contact__form-field {
    input,
    textarea {
      border: 2px solid $clrSecondaryLighter;
      &:focus {
        outline: 2px solid $clrSecondaryDark;
      }
    }
    &-err {
      input,
      textarea {
        border-color: $clrAccentLighter;
        &:focus {
          outline-color: $clrAccentNormal;
        }
      }
    }
  }
  .Portfolio {
    &__work-tab-img img {
      outline-color: $clrSecondaryLighter;
    }
  }
  .ToTop {
    background: $clrSecondaryDark;
    box-shadow: 0 0 5px rgba($clrNeutralWhite, 1);
    svg path {
      fill: $clrNeutralWhite;
    }
  }
  .Footer {
    background: $clrSecondaryDark;
    color: $clrNeutralWhite;
    &__powered {
      color: $clrNeutralGray;
    }
    transition: all 0.3s linear;
  }
  // Dark mode
  &[data-theme="dark"] {
    background: $clrSecondaryDarker;
    color: $clrSecondaryLighter;
    .Button {
      color: $clrSecondaryDarker;
      background-color: $clrSecondaryLighter;
    }
    .Header {
      background: $clrSecondaryDarker;
      &--shadow {
        box-shadow: 0 2px 4px rgba($clrSecondaryDark, 0.5);
        @include mobile {
          box-shadow: 0 -2px 4px rgba($clrSecondaryDark, 0.5);
        }
      }
      &__nav--active {
        color: $clrSecondaryLightest;
      }
    }
    .MobileHeader {
      &__nav {
        background: $clrSecondaryDarker;
        box-shadow: 0 -2px 4px rgba($clrSecondaryDark, 0.5);
      }
    }
    .Skills {
      &__btns-btn--active {
        color: $clrSecondaryLightest;
        svg path {
          fill: currentColor;
        }
      }
      &__tech,
      &__soft {
        &-tab-bar {
          div {
            background: $clrSecondaryDarkest;
          }
        }
      }
    }
    .Contact__form-field {
      input,
      textarea {
        border: 2px solid $clrSecondaryDark;
        &:focus {
          outline: 2px solid $clrSecondaryLightest;
        }
      }
      &-err {
        input,
        textarea {
          border-color: $clrAccentNormal;
          &:focus {
            outline-color: $clrAccentLighter;
          }
        }
      }
    }
    .Portfolio {
      &__work-tab-img img {
        outline-color: $clrSecondaryDarkest;
      }
    }
    .ToTop {
      background: $clrSecondaryLighter;
      box-shadow: 0 0 5px rgba($clrSecondaryDark, 1);
      svg path {
        fill: $clrSecondaryDarker;
      }
    }
    .Footer {
      background: $clrSecondaryDarkest;
      color: $clrSecondaryLighter;
      &__powered {
        color: $clrSecondaryDark;
      }
    }
    .ToastMessage {
      background: $clrSecondaryDarkest;
      color: $clrSecondaryLighter;
    }
  }
  transition: all 0.3s linear;
}
