html {
  .hover-effect-text,
  .hover-effect-withIcon,
  .hover-effect-btn {
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .hover-effect-text:hover {
    color: $clrSecondaryDark;
  }
  .hover-effect-withIcon:hover {
    color: $clrSecondaryDark;
    svg path {
      fill: currentColor;
    }
  }
  .hover-effect-btn:hover {
    &:hover {
      background-color: $clrSecondaryDarker;
    }
  }
  &[data-theme='dark'] {
  .hover-effect-text:hover {
    color: $clrSecondaryLightest;
  }
  .hover-effect-withIcon:hover {
    color: $clrSecondaryLightest;
    svg path {
      fill: currentColor;
    }
  }
  .hover-effect-btn:hover {
    &:hover {
      background-color: $clrSecondaryLightest;
    }
  }
  }
}
