// Neutral colors
$clrNeutralDarkest: #292929;
$clrNeutralDarker: #5d5f5f;
$clrNeutralGray: #b6b8b8;
$clrNeutralLighter: #e3e3e3;
$clrNeutralLightest: #f4f4f5;
$clrNeutralWhite: #ffffff;

// Secondary colors
$clrSecondaryDarkest: #1e0c50;
$clrSecondaryDarker: #301678;
$clrSecondaryDark: #5361df;
$clrSecondaryNormal: #828df2;
$clrSecondaryLighter: #b4b9ec;
$clrSecondaryLightest: #dee0f3;

// Accent colors
$clrAccentDarker: #7b0f0f;
$clrAccentNormal: #db3445;
$clrAccentLighter: #fbaeb6;
$clrAccentLightest: #f3dee0;
