// Mixin
// Responsive widths
$mobile-width: 398px;
$tablet-width: 674px;
$web-width: 1280px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$web-width - 1px}) {
    @content;
  }
}

// Grid System
.grid {
  display: block;
  padding: 0;
}

.wide {
  width: $web-width;
  margin: 0 auto;
  @include tablet {
    width: $tablet-width;
  }
  @include mobile {
    width: $mobile-width;
  }
}

// Columns
$cols: 12;
$gutter: 1.5%;
$one_col: calc((100% - ($gutter * ($cols - 1))) / $cols);
@mixin col($num) {
  width: ($one_col * $num) + ($gutter * ($num - 1));
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: $gutter;
  justify-content: center;
}
