@mixin typo__h1-72 {
  font-size: 72px;
  font-weight: 700;
  line-height: 90px;
}

@mixin typo__h2-36--black {
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
}

@mixin typo__h2-36--thin {
  font-size: 36px;
  font-weight: 300;
  line-height: 54px;
}

@mixin typo__h3-30--black {
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
}

@mixin typo__h3-30--thin {
  font-size: 30px;
  font-weight: 300;
  line-height: 45px;
}

@mixin typo__h4-24--black {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

@mixin typo__h4-24--thin {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}

@mixin typo__h5-20--black {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

@mixin typo__h5-20--thin {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

@mixin typo__body-16--black {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@mixin typo__body-16--thin {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

@mixin typo__body-14--black {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

@mixin typo__body-14--thin {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

@mixin typo__body-12--black {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

@mixin typo__body-12--thin {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}
