.Button {
  @extend .hover-effect-btn;
  display: inline-flex;
  align-items: center;
  border: 0;
  &--small {
  @include typo__body-14--black;
  $smallSpace: 14px;
    padding: 6px $smallSpace;
    gap: $smallSpace;
    border-radius: 6px;
    .Button__icon {
      width: $smallSpace;
      height: $smallSpace;
      line-height: $smallSpace;
    }
  }
  &--normal {
  @include typo__h5-20--black;
  $normalSpace: 16px;
    padding: 8px $normalSpace;
    gap: $normalSpace;
    border-radius: 8px;
    .Button__icon {
      width: $normalSpace;
      height: $normalSpace;
      line-height: $normalSpace;
    }
  }
  &__icon {
    svg {
      width: 100%;
      height: 100%;
      path {
        width: 100%;
        height: 100%;
        fill: currentColor;
      }
    }
    &--left {
      order: -1;
    }
  }
}
